/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #161f6d;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin-bottom: 1rem;
    }
}



/* Add to styles.css */

.dark-theme {
    background-color: #333;
    color: #eee;
}
